.footer_image {
  height: 30%;
  width: 30%;
  position: relative;
  top: 20px;
}

.head_image {
  height: 3%;
  width: 3%;
  position: relative;
  padding-right: 0.3%;
}

.phase1 {
  padding-right: 65px;
  padding-left: 65px;
  padding-top: 150px;
  padding-bottom: 400px;
  background-image: url("5039684.jpg");
  background-size: 100% 100%;
}

.phase2 {
  padding-right: 65px;
  padding-left: 65px;
  padding-top: 150px;
  padding-bottom: 400px;
  background-image: linear-gradient(to bottom right, purple, palevioletred);
  background-size: 100% 100%;
}

.main_heading {
  color: aliceblue;
  font-size: 375%;
  animation: moveright 1s linear 1;
  visibility: hidden;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes moveright {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }

  100% {
    transform: translateX(0px);
    visibility: visible;
  }
}

.module1_heading {
  color: aliceblue;
  font-size: 375%;
}

.module_content1 {
  color:aliceblue;
  font-size: 150%;
  animation: moveright 1s linear 1;
  visibility: hidden;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes moveright {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }

  100% {
    transform: translateX(0px);
    visibility: visible;
  }
}

.module_content2 {
  color: aliceblue;
  font-size: 150%;
  animation: moveright 1s linear 1;
  visibility: hidden;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes moveright {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }

  100% {
    transform: translateX(0px);
    visibility: visible;
  }
}

.study {
  position: absolute;
  right: 100px;
  top: 100px;
  width: 700px;
  animation: moveleft 1s linear 1;
  visibility: hidden;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes moveleft {
  0% {
    transform: translateX(100px);
    visibility: visible;
  }

  100% {
    transform: translateX(0px);
    visibility: visible;
  }
}

.sec-title{
  position:relative;
  margin-bottom:60px;
}

.sec-title .title{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #fdda33;
  font-weight: 500;
  margin-bottom: 30px;
}

.sec-title h2{
  position:relative;
  display: inline-block;
  font-size:60px;
  line-height:1em;
  color:#212639;
  font-weight:400;
  padding-bottom: 30px;
  z-index: 2;
}


.sec-title.active h2:before{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.sec-title h2:after{
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 3px;
  width: 50px;
  content: "";
  background-color: #d1d2d6;
}

.sec-title.light h2{
  color: #ffffff;
}

.sec-title.light h2:after{
  opacity: .20;
  background-color: #ffffff;
}

.sec-title.text-center h2:before,
.sec-title.text-center h2:after{
  right: 0;
  left: 0;
  margin: 0 auto;
}

.sec-title.text-center h2:before{
  opacity: .60;
}

.speakers-section{
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 145px 0 90px;
  overflow:hidden;
}

.speaker-block{
  position: relative;
  margin-bottom: 40px;
}

.speaker-block .inner-box{
  position: relative;
}

.speaker-block .image-box{
  position: relative;
  padding: 20px;
  background-color: rgba(255,255,255,.15);
  overflow: hidden;
}

.speaker-block .image-box .image:after,
.speaker-block .image-box:before{
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background-color: #ffffff;
  content: "";
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

.speaker-block .inner-box:hover .image-box .image:after,
.speaker-block .inner-box:hover .image-box:before{
  height: 100%;
}

.speaker-block .image-box .image:after{
  opacity: .40;
  z-index: 1;
  top: auto;
  bottom: 0;
  background-color: #4a34a5;
}

.speaker-block .image-box .image{
  position: relative;
  margin-bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.speaker-block .image-box .image img{
  display: block;
  width: 100%;
  height: auto;
}

.speaker-block .social-links{
  position: absolute;
  left: 0;
  bottom: -140px;
  padding: 20px;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

.speaker-block .social-links ul{
  position: relative;
  padding: 30px 20px;
  text-align: center;
  background-color: rgba(253, 218, 51, 0.85);
}

.speaker-block .social-links li{
  position: relative;
  display: inline-block;
  margin: 0 9px;
}

.speaker-block .social-links li a{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.speaker-block .social-links li a:hover{
  color: #fac201;
}

.speaker-block .inner-box:hover .social-links{
  bottom: 0;
}

.speaker-block .caption-box{
  position: relative;
  padding-top: 30px;
}

.speaker-block .caption-box .name{
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 1em;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 10px;
}

.speaker-block .caption-box .name a{
  color: #ffffff;
  display: inline-block;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.speaker-block .caption-box .name a:hover{
  color: #fdda33;
}

.speaker-block .caption-box .designation{
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  opacity: .70;
}
      ul {
          margin: 0;
          padding: 0;
          list-style: none;
      }
      img {
  max-width: 100%;
  height: auto;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

#preloader {
  background: #000 url("preloader.gif") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
